<div class="container-fluid" *ngIf="data$ | async as data">
  <a href="./home" class="btn btn-primary"><fa-icon [icon]="faCaretLeft"></fa-icon> &nbsp; back to Catalogue</a>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="card">
            <div class="card-body">
              <markdown emoji>
                {{ data.readme }}
              </markdown>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="card-body">
              <img
              [src]="data.logo"
              alt="{{ data.repo.full_name }}"
              class="mr-3 logo-small logo text-center"
              (error)="this.data.logo = 'https://avatars0.githubusercontent.com/u/20147732?v=4';"
            />
            <h2 class="mt-0 mb-0">{{ data.repo.name }}</h2>
            <p>
              by <a href="https://github.com/{{ data.repo.owner.login }}">{{ data.repo.owner.login }}</a>
            </p>
            <hr>
            <h5 class="text-center"><strong>About this Repo</strong></h5>
            <ul class="list-unstyled">
              <li>
                <fa-icon [icon]="faGlobe"></fa-icon> Repo ID: <span class="float-right">{{ data.repo.id }}</span>
              </li>
              <li>
                <fa-icon [icon]="faUserCircle"></fa-icon> Author: <span class="float-right">{{ data.repo.owner.login }}</span>
              </li>
              <li>
                <fa-icon [icon]="faGithub"></fa-icon> Repo:
                <a class="float-right" target="_blank" href="{{ data.repo.html_url }}"
                  >View on Github <fa-icon [icon]="faExternalLinkAlt"></fa-icon
                ></a>
              </li>
              <li>
                <fa-icon [icon]="faEye"></fa-icon> Watchers: <span class="float-right">{{ data.repo.subscribers_count }}</span>
              </li>
              <li>
                <fa-icon [icon]="faStar"></fa-icon> Stars: <span class="float-right">{{ data.repo.stargazers_count }}</span>
              </li>
              <li>
                <fa-icon [icon]="faCodeBranch"></fa-icon> Forks: <span class="float-right">{{ data.repo.forks_count }}</span>
              </li>
              <li>
                <fa-icon [icon]="faClock"></fa-icon> Created: <span class="float-right">{{ data.repo.created_at | amTimeAgo }}</span>
              </li>
              <li>
                <fa-icon [icon]="faClock"></fa-icon> Last update: <span class="float-right">{{ data.repo.updated_at | amTimeAgo }}</span>
              </li>
              <li *ngIf="data.repo?.license">
                <fa-icon [icon]="faBalanceScale"></fa-icon> License: <span class="float-right">{{ data.repo.license.spdx_id }}</span>
              </li>
            </ul>
            <hr>
            <a class="btn btn-lg btn-success" target="_blank" href="{{ data.repo.html_url }}/archive/{{ data.repo.default_branch }}.zip">Download <i class="fa fa-download"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>